<?xml version="1.0"?>
<launch>
  
  <node pkg="merge_cam_pc" type="merge_cam_pc_ph_node" name="label" output="screen"/>
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find merge_cam_pc)/config/rviz_config.rviz" >
  	<rosparam command="load" file="$(find merge_cam_pc)/config/merge_pc.yaml" />
  </node>
</launch>
